/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0 8px 8px 8px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/*** Header ****/
.banner {
    display: flex;
    justify-content: space-between;
    height: 4.938em;
}
.banner img {
    padding: 0.5em 3em 3em 0.5em;
}
.banner ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 5em;
    margin-right: 2em;
}
.banner li {
    width: 6em;
}
nav a:hover {
    border-top: 0.125em solid;
    border-color: #0065FC;
    color: #0065FC;
    padding-top: 0.9em;
}
nav a:active {
    border-top: 0.125em solid;
    border-color: #0065FC;
    color: #0065FC;
    padding-top: 0.9em;
}
/**** Research ************/
.barre-recherche {
    display: flex;
    flex-direction: row;
    height: 3.5em;
}
.barre-recherche .fa-location-dot,
.barre-recherche .recherche,
#submit-btn {
    height: 3.063em;
    font-size: 1rem;
    font-weight: 700;
}
.barre-recherche ::placeholder {
    color: black;
    opacity: 1;
}
.research-title h1 {
    margin-bottom: 0;
}
.research-title p {
    margin-top: 0.4em;
    margin-bottom: 2em;
    font-size: large;
}
.fa-location-dot {
    width: 3.125em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-bg-color);
    border: 1px solid var(--main-bg-color);
    border-radius: 15px 0 0 15px;
    color: black;
}
.recherche {
    padding: 0 24px;  
    background-color: white;
    border-top: 1px solid var(--main-bg-color);
    border-right: none;
    border-bottom: 1px solid var(--main-bg-color);
    border-left: none;
    outline: none;
    width: 43%;
}
#submit-btn i {
    display: none;
}
.barre-recherche button {
    padding: 0 16px;
    color: white;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 0 15px 15px 0;
    box-sizing: content-box;
    cursor: pointer;
    margin-left: -0.15em;
  }
/****** Filtres **********/
.filtres-recherche {
    margin-top: 35px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.filtre-title {
    margin: 0;
    font-size: 1.125em;
    font-weight: 700;
}
.filtre1,
.filtre2 {
    display: flex;
    height: 50px;
    gap: 10px;
}
.filtres-recherche .filtre {
    height: 100%;
    padding: 0 19px;
    font-size: 1.0625em;
    font-weight: 700;
    white-space: nowrap;
    display: flex;
    align-items: center;
    border: 2px solid var(--main-bg-color);
    border-radius: 25px;
    box-sizing: border-box;
    background-color: white;
    
}
.filtre p {
    margin: -0.025em 0 0 0;
}
.filtre .fa-solid {
    font-size: larger;
    margin-right: 0.4em;
}
.filtres-recherche .filtre:hover {
    background-color: rgb(0, 101, 252, 0.1);
    cursor: pointer;
}
.filtres-recherche .filtre:active {
    background-color: rgb(0, 101, 252, 0.1);
}
.infos-filtre {
    display: flex;
    flex-direction: row;
    margin-top: 1.5em;
    margin-bottom: 1em;
}
.infos-filtre i {
    margin-top: 1em;
}
.infos-filtre p {
    font-size: medium;
}
.fa-info {
    border: 0.15em solid;
    border-radius: 50%;
    width: 1em;
    border-color: #F2F2F2;
    text-align: center;
    font-size: 12px;
    margin-right: 1.2em;
    padding: 0.5em;
    height: 100%;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    display: flex;
    flex-direction: column;
    width: 65%;
    row-gap: 30px;
}
#hebergements {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}
.hebergements-and-populaires .hebergements section {
    padding-left: 0;
    padding-right: 0;
}
.hebergements-title {
    padding-left: 1.5em;
}
.hebergements-cards{
    display: flex;
    flex-direction: row;
    row-gap: 30px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-sizing: border-box;
}
.hebergements-cards .card{
    display: flex;
    flex-direction: column;
    width: 15.5em;
    height: 13em;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.hebergements-cards img{
    width: 100%;
    height: 55%;
    border-radius: 20px 20px 0 0;
}
.hebergements-cards .card-content {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 7px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
    font-size: small;
}

.hebergements-cards .card-rating {
    margin: 1.5em 0 0 0;
}
.afficherplus {
    margin-top: -0.5em;
    padding-left: 3%;
    font-weight: bold;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
/****** Activites ********/
.activites {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 100%;
    height: fit-content;
    gap: 30px;
    box-sizing: border-box;
}
.activites h3{
    display: flex;
    align-items: center;
    height: 20px;
    padding-right: 20px;
}
.activites-cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 30px;
}
.activites-cards a {
    width: calc(25% - 30px);
}
.activites-cards .card {
    display: flex;
    flex-direction: column;
    margin-right: 2em;
    width: 100%;
    padding: 0;
}
.activites-cards img {
    display: flex;
    border-radius: 20px 20px 0 0;
    height: 380px;
}
.activites-cards .card-title {
    margin-left: 0.5em;
}
/***** Footer ****/
.footer {
    display: flex;
    justify-content: start;
    background-color: #F2F2F2;
    margin-top: 5em;
}
.liens-footer {
    display: flex;
    flex-direction: column;
    margin-right: 15em;
}
.liens-footer li {
    list-style-type: none;
    margin-top: 0.5em;
}
.liens-footer p {
    font-weight: bold;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .main-container {
        max-width: 1024px;
    }
    .hebergements-and-populaires {
        flex-direction: column;
        gap: 20px;
    }

    .hebergements {
        width: 100%;
    }

    .hebergements-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .hebergements-cards a {
        width: 30%;
    }
    .hebergements-cards .card {
        width: 100%;
    }

    .hebergements-cards .card-title {
        font-size: 14px;
    }

    .hebergements-cards .card-subtitle {
        font-size: 13px;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    body {
        width: 100%;
    }
    .liens-footer {
        margin: 0;
    }
}

/* Small devices (phones, less than 768px more than 320px) */
@media (max-width: 767.98px) {
.main-container {
    max-width: 768px;
    padding: 0;
}
body {
    width: 100%;
    margin: 0;
}
.banner {
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.banner img {
    width: 70px; 
    height: auto;
    padding: 2em 0 0 0;
}
.banner ul {
    padding: 0;
    margin: 0;
    width: 100%;
    justify-content: center;
    gap: 0;
}
nav {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2em;
}
.banner li {
    outline: none;
    border-bottom: #F2F2F2 solid;
    width: 50%;
    text-align: center;
    margin: 0;
    padding-bottom:0.8em;
}
.banner li:hover, li:active {
    border-color: #0065FC;
    padding-bottom: 0.5em;
}
.banner a:hover, a:active {
    outline: none;
    border-top: none;
    background-color: white;
}
.research {
    width: auto;
}
.research-title {
    margin: 1em;
}
.fa-search {
    color: white;
}
.fa-info {
    margin-left: 1em;
    margin-right: 0.8em;
}
.btn-text {
    display: none;
}
#submit-btn i {
    display: inline;
}
#submit-btn {
    width: 1.5em;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.2);
    margin-left: -2.2em;
}
.barre-recherche {
    justify-content: center;
}
.recherche {
    width: 68%;
    margin-right: 10px;
}
.filtres-recherche {
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: column;
    align-items: normal;
    margin: 7%;
}
.filtre {
    width: 48%;
    margin-bottom: 10px;
    white-space: nowrap;
}
.filtres-recherche .filtre {
    margin-bottom: 10px;
    margin-left: 0;
    font-size: medium;
}
.filtres-recherche h1 {
    width: 100%;
    margin-bottom: 10px;
}
.barre-recherche button {
    height: 98%;
}
.infos-filtre i {
    margin-top: 1.8em;
}
.hebergements-and-populaires {
    flex-direction: column-reverse;
}
.hebergements-and-populaires section {
    border-radius: 0;
    padding: 20px;
}
.hebergements-cards a {
    width: 100%;
}
.populaires {
    margin: 0;
}
.populaires-cards img {
    width: 33%;
}
.populaires-cards .card {
    margin-top: 14px;
}
#hebergements {
    background-color: white;
    row-gap: 12px;
}
.hebergements-cards {
    flex-direction: column;
    row-gap: 15px;
    margin: 0 1em 0 1em;
}
.hebergements-title {
    margin: 0 0 0 1em;
    padding: 0;
}
.hebergements-cards .card {
    width: auto;
}
.afficherplus {
    margin: 0;
}
.activites-cards {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1em;
    flex-direction: column;
}
.activites-cards a {
    width: 100%;
}
.activites-cards img {
    height: 10em;
}
.activites-cards .card{
    height: auto;
    width: 100%;
}
.activites {
    margin: 4em 0 0 0;
    padding: 0 1.5em 0 1.5em;
}
.activites h2 {
    margin: 0;
}
.populaires-cards {
    flex-direction: column;
}
.populaires-cards a {
    width: 100%;
}
.banner {
    height: auto;
}
.footer {
    flex-direction: column;
}
.liens-footer { 
    margin: 0;
}

}
